@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=DM+Serif+Text:ital@0;1&family=DynaPuff&display=swap');

body {
   background-color: lightblue;
   max-width: 840px;
   margin: auto;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  
  color: white; 
  Background-color: light blue;
  
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

tr:hover {
  Background-color: yellow;
}


nav li {
   list-style-type: none;
   display: inline-block;
   Background-color: White;
   padding: 10px;
   margin: -1px;
}
nav li:hover {
  Background-color: Yellow;
}
